<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">

    <bean id="client" class="com.epam.spring.core.beans.Client" c:id="${id}" c:fullName="${name}"
          p:greeting="${greeting}"/>

    <bean id="app" class="com.epam.spring.core.App" c:client-ref="client" c:eventLogger-ref="eventLogger">
        <constructor-arg name="loggerMap">
            <map>
                <entry key="INFO" value-ref="consoleEventLogger"/>
                <entry key="ERROR" value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>

        <!--<property name="properties"><null/></property>-->

        <property name="properties">
            <props>
                <prop key="111">111</prop>
                <prop key="222">222</prop>
                <prop key="333">444</prop>
                <prop key="444">444</prop>
                <prop key="555">555</prop>
            </props>
        </property>
    </bean>

</beans>
